* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore


Dockerfile merge=ours
docker-compose.yml merge=ours
Jenkinsfile merge=ours
docker/nginx.conf merge=ours
docker/php.ini merge=ours
docker/local.conf merge=ours
docker/supervisord.conf merge=ours
