openapi: 3.0.3
info:
  title: SIMDATUK - User API
  description: User API Documentation
  version: 1.0.0
servers:
  - url: https://simdatuk-api.ekuator.id
paths:
  /api/users:
    post:
      description: Create new user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email:
                  type: string
                pegawai_id:
                  type: integer
                role_id:
                  type: integer
      responses:
        '201':
          description: create new user
          content:
            application/json:
              examples:
                success:
                  description: Success create new user
                  value:
                    code: 201
                    status: created
                    errors: null
                    data: null
        '400':
          description: Bad request
          content:
            application/json:
              examples:
                username empty:
                  description: Username on request payload is empty
                  value:
                    code: 400
                    status: bad request
                    errors: username cannot empty
                    data: null
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
    get:
      description: User list
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success retrive user list
          content:
            application/json:
              examples:
                success:
                  description: Success retrive user list
                  value:
                    code: 200
                    status: ok
                    errors: null
                    data:
                      - id: 1
                        username: example
                        password: hashing_password
                        nip: 1800000xxx
                        nrp: 1800000xxx
                        role: Administrator
                        status: aktif
        '401':
          description: User unauthorized
          content:
            application/json:
              examples:
                unauthorized:
                  description: User unauthorized
                  value:
                    code: 401
                    status: unauthorized
                    errors: session token not found
                    data: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: User not found
          content:
            application/json:
              examples:
                not found:
                  description: User not found
                  value:
                    code: 404
                    status: not found
                    errors: empty user record
                    data: null
  /api/users/{userId}:
    patch:
      description: Update user data
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email:
                  type: string
                nip:
                  type: string
                nrp:
                  type: string
                role_id:
                  type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  status:
                    type: string
                    example: bad request
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
    get:
      description: Get user detail
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Get user detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      username:
                        type: string
                      password:
                        type: string
                      email:
                        type: string
                      nip:
                        type: string
                      nrp:
                        type: string
                      role_name:
                        type: string
        '401':
          description: User unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: session token is missing
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: user with id xxx not found
                  data:
                    type: string
                    example: null
  /api/users/{userId}/status:
    patch:
      description: Updating user status
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  status:
                    type: string
                    example: bad request
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
  /api/roles:
    get:
      description: List of user role
      tags:
        - Roles
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Administrator
        '401':
          description: User unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
    post:
      description: Create new role
      tags:
        - Roles
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_name:
                  type: string
                  example: Administrator
                permission:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      create:
                        type: boolean
                        example: 'true'
                      read:
                        type: boolean
                        example: 'true'
                      update:
                        type: boolean
                        example: 'true'
                      delete:
                        type: boolean
                        example: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  status:
                    type: string
                    example: bad request
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
  /api/roles/{roleId}:
    get:
      description: Get role detail
      tags:
        - Roles
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Administrator
                      permission:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            group:
                              type: string
                              example: Rekapitulasi
                            name:
                              type: string
                              example: Pegawai ASN
                            action:
                              type: object
                              properties:
                                read:
                                  type: boolean
                                  example: 'true'
                                create:
                                  type: boolean
                                  example: 'true'
                                update:
                                  type: boolean
                                  example: 'true'
                                delete:
                                  type: boolean
                                  example: 'true'
        '401':
          description: User unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: User ID not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
    put:
      description: Update role by role id
      tags:
        - Roles
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permission:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      actions:
                        type: object
                        properties:
                          read:
                            type: boolean
                            example: true
                          create:
                            type: boolean
                            example: true
                          update:
                            type: boolean
                            example: true
                          delete:
                            type: boolean
                            example: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  status:
                    type: string
                    example: bad request
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
    patch:
      description: Change user role (delete and change)
      tags:
        - Roles
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_name:
                  type: string
                  example: Administrator
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  status:
                    type: string
                    example: bad request
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
  /api/permissions:
    get:
      description: List of permission
      tags:
        - Permission
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: filter
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: ok
                  errors:
                    type: string
                    example: null
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Pegawai ASN
                        group:
                          type: string
                          example: Rekapitulasi
                        permitted_actions:
                          type: array
                          items: {}
                          example:
                            - read
                            - create
                            - update
                            - delete
        '401':
          description: User unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  status:
                    type: string
                    example: unauthorized
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '403':
          description: User not allowed to access the source
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 403
                  status:
                    type: string
                    example: forbidden
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
        '404':
          description: Record not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  status:
                    type: string
                    example: not found
                  errors:
                    type: string
                    example: example error message
                  data:
                    type: string
                    example: null
  /api/jabatan: {}
